:root {
    --brown-dark: #403831;
    --brown-light: #8C7B6C;
    --cream: #D9CAB8;
    --beige: #BFAE99;
    --navy-dark: #151B26;
    --white: #FFFFFF;
    --grey: #D9D9D9;
    --grey-light: #F2F2F2;
    --black: #000000;
}

html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%; 
    display: flex;
    flex-direction: column;
}

nav {
    background-color: var(--brown-light);
    padding: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

nav a {
    color: var(--black);
    text-decoration: none;
    margin: 0px 15px;
    font-size: 20px;
    position: relative; 
    transition: color 0.3s ease; 
}

nav a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 2px;
    width: 0;
    height: 2px;
    background-color: var(--grey-light);
    transition: width 0.3s ease; 
}

nav a:hover {
    color: var(--grey-light);
}

nav a:hover::after {
    width: 70%;
}

.countries-list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0px 20px;
    margin: auto;
}

.countries-list a {
    text-decoration: none;
}

.country-item {
    background-color: var(--grey-light);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 160px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.country-item:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.country-item .flag {
    width: 120px;
    height: 80px;
    margin-bottom: 10px;
    object-fit: contain;
}

.country-info h2 {
    color: var(--brown-dark);
    font-size: 18px;
    margin: 5px 0 5px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 160px;
}

.country-info p {
    color: var(--beige);
    font-size: 14px;
    margin: auto;
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 160px;
}

.country-info .code {
    color: var(--black);
    font-style: normal;
    margin-top: 5px;
}

.alphabet-list {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.letter-btn {
    background-color: var(--cream);
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    color: var(--white);
}

.letter-btn:hover {
    background-color: var(--beige);
}

.countries .search-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0px;
}

.countries .search-container input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid var(--brown-light);
}

.countries .search-container select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid var(--brown-light);
}

.countries .search-container button {
    padding: 10px;
    background-color: var(--brown-light);
    color: var(--white);
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.countries .search-container button:hover {
    background-color: var(--beige);
}

.error-message p {
    text-align: center;
    margin: 0;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 20px 0px;
}

.page-number {
    background-color: var(--grey-light);
    color: var(--brown-dark);
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 5px;
}

.page-number.active {
    background-color: var(--brown-light);
    color: var(--white);
}

.pagination button {
    background-color: var(--grey-light);
    padding: 6px 12px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.pagination button:disabled {
    background-color: var(--grey-light);
    cursor: not-allowed;
}

footer {
    background-color: var(--brown-light);
    color: var(--white);
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    margin-top: auto; 
    width: 100%;
}

footer p {
    margin: 5px 0px 3px 0px;
}

.country-details {
    padding: 20px;
    text-align: center;
}

.details-header {
    margin-bottom: 20px;
}

.flag-large {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.translations ul {
    list-style: none;
    padding: 0;
}

.translations li {
    margin: 5px 0;
}

.provinces-table {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* menyesuaikan jumlah kolom dengan isinya */
    gap: 15px; /* jarak antar kolom */
    margin: 20px auto;
    max-width: 100%; /* Agar grid dapat menyesuaikan lebar kontainer */
    padding: 10px;
    border: 1px solid var(--grey);
    border-radius: 8px;
    background-color: var(--grey-light); /* warna backround */
    justify-items: center; /* agar grid berada di tengah */
}

.provinces-cell {
    background-color: var(--white);
    padding: 12px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.provinces-cell:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.provinces {
    margin-top: 20px;
}

.provinces h2 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 15px;
}

.back-button {
    padding: 10px 20px;
    background-color: var(--brown-light);
    color: var(--white);
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.back-button:hover {
    background-color: var(--beige);
}