<div class="country-details">
    <div class="details-header">
        <img ng-src="{{ country.flags.png }}" alt="Flag of {{ country.name.common }}" class="flag-large">
        <h1>{{ country.name.common }}</h1>
        <p><strong>Official Name:</strong> {{ country.name.official }}</p>
        <p><strong>Capital:</strong> {{ country.capital ? country.capital[0] : 'Not Available' }}</p>
        <p><strong>Region:</strong> {{ country.region }}</p>
        <p><strong>Population:</strong> {{ country.population | number }}</p>
    </div>

    <div class="translations">
        <h2>Translations Of Country Name In Other Language</h2>
        <select id="languageSelect" ng-model="selectedLang" ng-options="lang as lang for (lang, translation) in country.translations"></select>
        <span>{{ selectedLang && country.translations[selectedLang] ? country.translations[selectedLang].common : 'Select a language to view translation' }}</span>
    </div>       
    
    <div class="provinces" ng-if="provinces && provinces.length > 0">
        <h2>Provinces/States</h2>
        <div class="provinces-table">
            <div class="province-cell" ng-repeat="province in provinces track by $index">
                {{ province.name }}
            </div>
        </div>
    </div>

    <button class="back-button" ng-click="goBack()">Back to Home</button>
</div>