<div class="countries">
    <div class="alphabet-list">
        <button ng-click="filterByLetter(letter)" ng-repeat="letter in alphabet" class="letter-btn">{{ letter }}</button>
    </div>  
    <div class="search-filter-container">
        <div class="search-container">
            <input type="text" ng-model="searchQuery" placeholder="Search ...">
            <select ng-model="searchType">
                <option value="name">Name</option>
                <option value="code">Code</option>
            </select>
            <button ng-click="searchCountry()"><i class="bi bi-search"></i></button>
        </div>
        <div class="continent-filter">
            <select ng-model="selectedRegion" ng-change="filterByRegion()">
                <option value="">Select Region</option>
                <option value="Africa">Africa</option>
                <option value="Asia">Asia</option>
                <option value="Europe">Europe</option>
                <option value="Oceania">Australia</option>
                <option value="Americas">Americas</option>
            </select>
        </div>

        <div class="sort-filter">
            <select ng-model="sortOption" ng-change="sortCountries()">
                <option value="">Sort by</option>
            <option value="name_asc">Name (A-Z)</option>
            <option value="name_desc">Name (Z-A)</option>
            <option value="code_asc">Code (Smallest to Largest)</option>
            <option value="code_desc">Code (Largest to Smallest)</option>
            <option value="population_desc">Population (Largest to Smallest)</option>
            <option value="population_asc">Population (Smallest to Largest)</option>
            </select>
        </div>
    </div>
    <div ng-if="errorMessage">
        <p>{{ errorMessage }}</p>
    </div>
    <ul class="countries-list">
        <li ng-repeat="country in countriesToShow">
            <a ng-href="#!/details/{{ country.name.common }}">
                <div class="country-item">
                    <img ng-src="{{ country.flags.png }}" alt="Flag of {{ country.name.common }}" class="flag">
                    <div class="country-info">
                        <h2>{{ country.name.common }}</h2>
                        <p>{{ country.capital ? country.capital[0] : 'Not Available' }}</p>
                        <p class="code">{{ country.ccn3 ? country.ccn3 : '...' }}</p>
                    </div>
                </div>
            </a>
        </li>
    </ul>

    <div class="pagination">
        <button class="prev" ng-click="prevPage()" ng-disabled="currentPage === 1"><i class="bi bi-chevron-left"></i></button>
        <span class="page-number" ng-repeat="page in pagesToShow track by $index" ng-click="page !== '...' && goToPage(page)" ng-class="{'active': currentPage === page}">{{ page }}</span>
        <button class="next" ng-click="nextPage()" ng-disabled="currentPage === totalPages"><i class="bi bi-chevron-right"></i></button>
    </div>
</div>
