<div class="countries">
    <h1>List of Countries in the World</h1>
    <ul class="countries-list">
        <li ng-repeat="country in countriesToShow">
            <div class="country-item">
                <img ng-src="{{ country.flags.png }}" alt="Flag of {{ country.name.common }}" class="flag">
                <div class="country-info">
                    <h2>{{ country.name.common }}</h2>
                    <p>{{ country.capital ? country.capital[0] : 'Not Available' }}</p>
                </div>
            </div>
        </li>
    </ul>

    <div class="pagination">
        <button class="prev" ng-click="prevPage()" ng-disabled="currentPage === 1"><i
                class="bi bi-chevron-left"></i></button>
        <span class="page-number" ng-repeat="page in pagesToShow track by $index"
            ng-click="page !== '...' && goToPage(page)" ng-class="{'active': currentPage === page}">{{ page }}</span>
        <button class="next" ng-click="nextPage()" ng-disabled="currentPage === totalPages"><i
                class="bi bi-chevron-right"></i></button>
    </div>
</div>